.executor {
    border: 1px solid #999;
    overflow: hidden;
    position: relative;
    font-size: 26px;
    font-family: 'Menlo', Monaco, Consolas, 'Courier New', monospace;
    width: 800px;
    height: 460px;
    border-radius: 5px;
}

.executor .executor-hidden-item {
    display: none;
}

/* ------------------------------------------------------------------------------------------------------------------ */

.executor .executor-tools {
    background: rgba(210, 255, 84, 0.05);
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #999;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    overflow: hidden;
    position: relative;

    /* Disable select */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.executor .executor-tools .executor-tools-control {
    padding: 0 15px;
    float: left;
    border-right: 1px solid #999;
}

.executor .executor-tools .executor-tools-control:last-child {
    border-right: none;
}

/* ------------------------------------------------------------------------------------------------------------------ */

.executor .executor-tools .executor-tools-control .executor-auto {
    font-size: larger;
    margin: 0;
    cursor: pointer;
}

/* ------------------------------------------------------------------------------------------------------------------ */

.executor .executor-tools .executor-tools-control .executor-env {
    font-size: larger;
    cursor: context-menu;
}

/* ------------------------------------------------------------------------------------------------------------------ */

.executor .executor-tools .executor-tools-control > ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-block;
}

.executor .executor-tools .executor-tools-control > ul > li {
    display: inline-block;
}

.executor .executor-tools .executor-tools-control .executor-icon-horizontal,
.executor .executor-tools .executor-tools-control .executor-icon-vertical,
.executor .executor-tools .executor-tools-control .executor-icon-maximize {
    background: #f8fdf6;
    cursor: pointer;
    text-decoration: none;
    font-style: normal;
    height: 14px;
    width: 14px;
    display: inline-block;
    vertical-align: middle;
    border-color: #5a5a5a;
    outline: 2px solid #5a5a5a;
}

.executor .executor-tools .executor-tools-control .executor-icon-horizontal:active,
.executor .executor-tools .executor-tools-control .executor-icon-vertical:active,
.executor .executor-tools .executor-tools-control .executor-icon-maximize:active {
    border-color: #000;
    outline: 2px solid #000;
}

.executor .executor-tools .executor-tools-control .executor-icon-horizontal {
    height: 7px;
    border-bottom: 7px solid #5a5a5a;
    margin-right: 10px;
}

.executor .executor-tools .executor-tools-control .executor-icon-vertical {
    width: 7px;
    border-right: 7px solid #5a5a5a;
}

/* ------------------------------------------------------------------------------------------------------------------ */

.executor .executor-tools .executor-tools-control .executor-font-size {
    font-size: 14px;
    width: 30px;
}

/* ------------------------------------------------------------------------------------------------------------------ */

.executor .executor-tools .executor-tools-control .executor-execute {
    cursor: pointer;
    font-size: larger;
}

/* ------------------------------------------------------------------------------------------------------------------ */

.executor .executor-main {
    height: inherit;
    width: inherit;
    overflow: hidden;
}

/* ------------------------------------------------------------------------------------------------------------------ */

.executor .executor-code {
    background: rgba(210, 255, 84, 0.01);
    color: #2f2f2f;
    width: 100%;
    height: 310px;
    overflow: auto;
    outline: none;
    border: none;
    margin: 0;
}

.executor .executor-code.executor-left-column {
    width: 50%;
    height: calc(460px - 50px);
    float: left;
    border-bottom: 0;
}

.executor .executor-code.executor-maximize {
    height: inherit;
    width: inherit;
}

/* ------------------------------------------------------------------------------------------------------------------ */

.executor .executor-result {
    background: #f1f1f1;
    color: #c7254e;
    height: 90px;
    padding: 5px;
    border-top: 1px solid #999;
    overflow: auto;
    position: relative;
}

.executor .executor-result.executor-right-column {
    width: calc(50% - 10px - 1px);
    height: calc(460px - 50px);
    float: right;
    border-top: none;
    border-left: 1px solid #999;
}

/* ------------------------------------------------------------------------------------------------------------------ */

.executor-version {
    background: #fff;
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 5px;
    border-top: 1px solid #999;
    border-left: 1px solid #999;
    font-size: 11px;
    font-style: normal;
}
