# This file is for unifying the coding style for different editors and IDEs.
# EditorConfig is awesome: http://EditorConfig.org

# No .editorconfig files above the root directory.
root = true

[*]
indent_style = space
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# Use 4 spaces for indention in popular file types.
[*.{js,json,html,xml,css,sass,scss,less}]
indent_size = 4
