html {
    background: #000 url('../../images/bg.jpg') no-repeat center top;
}

body {
    overflow: hidden;
}

#interpreter {
    width: 100%;
    height: 100%;
}

#interpreter #terminal {
    width: 100%;
    height: 100%;
    background: none;
    padding: 5px;
    font-family: monospace;
    font-size: 16px;
    color: #fff;
    resize: none;
    border: none;
    display: block;
    outline: none;
}
