#page {
    width: 1002px;
    margin: 0 auto;
    font-family: Monaco, Consolas, 'Courier New', monospace;
}

#page h1 {
    border-bottom: 1px solid #9d9d9d;
    font-weight: 400;
}

#page a {
    color: #718C00;
    transition: 0.5s all;
    text-decoration: none;
}

#page a:hover {
    color: #C82829;
}

#page em {
    background: #e4e4e4;
    border-radius: 10px;
    padding: 10px;
}

#page p {
    color: #717171;
}

#page .editor {
    text-align: center;
    padding: 0 0 100px 0;
    margin: 0 0 100px 0;
    border-bottom: 1px solid #9d9d9d;
}

#page .editor > .executor {
    margin: 0 auto;
}

#page .editor > .embed-example,
#page .editor > .executor-code {
    text-align: left;
    background: rgba(210, 255, 84, .05);
    padding: 10px;
    border: 1px solid #999;
    border-radius: 5px;
}

#page > footer {
    text-align: center;
    margin: 100px 0;
    color: #7b7b7b;
}
