#page {
    width: 720px;
    margin: 0 auto;
    font-family: 'Lobster', cursive;
}

h1, h2, h3, h4, h5, h6 {
    font-size: xx-large;
}

h1 small {
    font-size: inherit;
    color: #7b7b7b;
}

a {
    color: #000;
    transition: 0.5s all;
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

.hint {
    color: #7b7b7b;
    font-style: italic;
}

hr {
    margin: 50px 0;
}

p {
    font-weight: 200;
}

.executor-editor-demo {
    width: inherit;
    height: 300px;
    margin: 20px 0;
}

.embed-example {
    text-align: left;
    background: rgba(210, 255, 84, .05);
    padding: 10px;
    border: 1px solid #7b7b7b;
}

footer {
    text-align: center;
    margin: 100px 0;
    color: #7b7b7b;
}
